*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #FF9800;
    --main-padding: 50px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 38%);
} */

/* Settings box */
.setting-box {
    position: fixed;
    left: -200px;
    top: 0;
    background-color: white;
    width: 200px;
    z-index: 1000;
    height: 100vh;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border: 1px solid #eee;
}
.setting-box.open {
    left: 0;
}
.setting-box .toggle {
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: white;
    padding: 8px 0;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.setting-box .option-sett {
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #EEE;
}
.setting-box .option-sett h4 {
    margin: 0 0 10px;
    color: #666;
    font-size: 14px;
}
.setting-box .option-sett .colors-list {
    text-align: center;
    padding: 0;
}
.setting-box .option-sett .colors-list li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    display: inline-block;
}
.setting-box .option-sett .colors-list li.active {
    opacity: 1;
    border: 1px solid white;
}
.setting-box .option-sett .colors-list li:first-child {
    background-color: #FF9800;
}
.setting-box .option-sett .colors-list li:nth-child(2) {
    background-color: #E91E63;
}
.setting-box .option-sett .colors-list li:nth-child(3) {
    background-color: #009688;
}
.setting-box .option-sett .colors-list li:nth-child(4) {
    background-color: #03A9F4;
}
.setting-box .option-sett .colors-list li:nth-child(5) {
    background-color: #4CAF50;
}
.option-sett .yes,
.option-sett .no {
    width: 50px;
    background-color: var(--main-color);
    color: white;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    opacity: .5;
    cursor: pointer;
}
.option-sett span.active {
    opacity: 1;
}
/* reset option */
.reset-options {
    background-color: #f44336;
    width: 178px;
    border: none;
    margin: 10px auto;
    color: white;
    display: block;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}
/* End Setting */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 40px;
    z-index: 1000;
}
.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    margin: 20px auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet:hover .tooltip {
    display: block;
}
.nav-bullets .bullet .tooltip {
    background-color: var(--main-color);
    width: 120px;
    color: white;
    padding: 8px 10px;
    position: absolute;
    right: 32px;
    top: -10px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
}
.nav-bullets .bullet .tooltip::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent var(--main-color);
    right: -22px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
/* End Navigation Bullets */
/* landing */
.landing-page {
    height: 100vh;
    background-image: url("../images/landing-1.png");
    background-size: cover;
    position: relative;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: white;
    padding: 15px;
}
.logo {
    width: 300px;
    font-weight: bold;
    font-size: 15px;
}
header .links-container {
    width: 100%;
    text-align: right;
}
.list {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.list li {
    margin-left: 20px;
}
.list li a {
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.list li a.active {
    color: var(--main-color);
}
header .links-container .toggle-menu {
    background: none;
    border: none;
    width: 30px;
    cursor: pointer;
    display: none;
    position: relative;
}
header .links-container .toggle-menu.menu-active::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    top: 70%;
}
header .links-container .toggle-menu:focus {
    outline: none;
}
header .links-container .toggle-menu span {
    display: block;
    width: 100%;
    background-color: white;
    height: 3px;
    margin-bottom: 4px;
}
.intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 95%;
}
.intro-text h1 {
    font-size: 32px;
    margin: 0 0 12px;
}
@media (max-width: 575px) {
    .intro-text h1 {
        font-size: 26px;
    }
}
.intro-text h1 span {
    color: var(--main-color);
}
.intro-text p {
    line-height: 1.6;
    font-size: 20px;
}
/* media */
@media (max-width: 991px) {
    header .list {
        display: none;
    }
    header .list.open {
        background-color: white;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        text-align: left;
        z-index: 100;
    }
    header .list.open li {
        display: block;
        margin: 10px;
    }
    header .list.open li a {
        color: var(--main-color);
        font-weight: bold;
    }
    header .links-container .toggle-menu {
        display: inline-block;
    }
}
/* end landing */
.about-us {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    display: flex;
}
@media (max-width: 767px) {
    .about-us {
        display: block;
        text-align: center;
    }
    .about-us .info-box {
        padding: 0;
    }
}
.about-us .info-box {
    flex: 1;
    padding: 30px;
}
.about-us .info-box h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 10px;
}
.about-us .info-box p {
    line-height: 1.8;
    color: #777;
    margin: 0;
}
.about-us .image-box {
    flex: 1;
    text-align: center;
}
.about-us .image-box img {
    width: 250px;
}
/* end about us */
.skills {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #eee;
}
.skills h2 {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 50px;
    text-align: center;
}
.skill-box {
    background-color: white;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}
.skill-box .name {
    font-weight: bolder;
    width: 140px;
    text-align: center;
    line-height: 30px;
}
@media (max-width: 767px) {
    .skills .skill-box {
        display: block;
    }
    .skill-box .name {
        width: 100%;
        margin-bottom: 15px;
    }
}
.skill-box .progress {
    height: 30px;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.skill-box .progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
/* end Our Skills */
.gallery {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    text-align: center;
}
.gallery h2 {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 50px;
    text-align: center;
}
.gallery .images-box{
    text-align: center;
}
.gallery .images-box img {
    width: 200px;
    padding: 3px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}
.popup-overlay {
    position: fixed;
    background-color: rgb(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
}
.popup-box h3 {
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main-color);
}
.close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Tahoma;
}
.popup-box img {
    max-width: 100%;
}
/* end Gallery */
.timeline {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #eee;
}
.timeline .timeline-content {
    position: relative;
    overflow: hidden;
}
.timeline .timeline-content::before {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: var(--main-color);
    left: 50%;
    margin-left: -1px;
    top: 0;
}
.timeline .timeline-content .year {
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-align: center;
    color: white;
    padding: 2px 5px;
    font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
@media (max-width: 767px) {
    .timeline .timeline-content .left,
    .timeline .timeline-content .right {
        width: 100%;
        margin-bottom: 20px;
    }
    .timeline .timeline-content .left::before,
    .timeline .timeline-content .right::before {
        display: none;
    } 
    .timeline .timeline-content .left .content::before,
    .timeline .timeline-content .right .content::before {
        display: none;
    }
}
.timeline .timeline-content .left {
    float: left;
    position: relative;
}
.timeline .timeline-content .left::before {
    right: -35px;
}
.timeline .timeline-content .left .content::before {
    right: -20px;
    border-color: transparent transparent transparent white;
}
.timeline .timeline-content .right {
    float: right;
    position: relative;
}
.timeline .timeline-content .right::before {
    left: -35px;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
    content: "";
    width: 14px;
    height: 14px;
    top: 20px;
    position: absolute;
    background-color: white;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.timeline .timeline-content .right .content::before {
    left: -20px;
    border-color: transparent white transparent transparent;
}
.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
} 
.timeline .timeline-content .content {
    padding: 20px;
    background-color: white;
}
.timeline .timeline-content .content h3 {
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px;
}
.timeline .timeline-content .content p {
    line-height: 1.6;
    margin: 0;
    color: #666;
}
.clearfix {
    clear: both;
}
/* end Timeline */
.features {
    padding-top: calc(var(--main-padding) + 20px);
    padding-bottom: calc(var(--main-padding) + 20px);
    position: relative;
}
.features h2 {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 60px;
    text-align: center;
}
.features .feat-box {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
@media (max-width: 991px) {
    .features .feat-box {
        width: calc(100% / 2);
    }
}
@media (max-width: 575px) {
    .features .feat-box {
        width: 100%;
    }
}
.features .feat-box img {
    width: 96px;
}
.features .feat-box h4 {
    font-size: 20px;
    margin: 15px 0 40px;
    position: relative;
}
.features .feat-box h4::before {
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: -22px;
}
.features .feat-box p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #706f6f;
}
/* Our Features */
.testimonials {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.testimonials::before {
    content: "";
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
}
.testimonials::after {
    content: "";
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    background-color: #333;
    height: 100%;
}
.testimonials h2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 30px;
    text-align: left;
    position: relative;
    z-index: 2;
    padding-top: 60px;
    padding-bottom: 60px;
}
.testimonials .ts-box {
    position: relative;
    z-index: 2;
    width: calc(98% / 3);
    float: left;
    background-color: white;
    padding: 20px;
}
@media (max-width: 767px) {
    .testimonials h2 {
        text-align: center;
    }
    .testimonials .ts-box {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
}
.testimonials .ts-box:not(:last-of-type) {
    margin-right: 1%;
}
.testimonials .ts-box > p {
    margin: 0 0 10px;
    line-height: 1.5;
    font-size: 18px;
    color: #707070;
    font-style: italic;
}
.testimonials .ts-box .person-info {
    overflow: hidden;
}
.testimonials .ts-box .person-info img {
    float: left;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 20px;
    width: 60px;
}
@media (max-width: 991px) {
    .testimonials .ts-box .person-info {
        text-align: center;
        overflow: hidden;
    }
    .testimonials .ts-box .person-info img {
        float: none;
        margin-right: 0;
    }
}
.testimonials .ts-box .person-info h4 {
    margin: 14px 0 10px;
}
.testimonials .ts-box .person-info p {
    color: #707070;
    margin: 0;
}
/* End Testimonials Section */
.contact {
    min-height: 600px;
    background-image: url("../images/contact.png");
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.contact .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, .27);
}
.contact .container {
    position: relative;
    z-index: 2;
}
.contact h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}
.contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left {
    float: left;
    width: 49%;
}
.contact form .right {
    float: right;
    width: 49%;
}
@media (max-width: 767px) {
    .contact form .left,
    .contact form .right {
        float: none;
        width: 100%;
    }
}
.contact form input:not([type="submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
    outline: 2px solid var(--main-color);
}
.contact form input {
    height: 40px;
}
.contact form textarea {
    height: 150px;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.contact form input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/* end Contact Us */
footer {
    background-color: #333;
    color: #eee;
    padding: 20px;
    text-align: center;
}
/* End Footer */
